/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-container {
    @apply relative w-full;
    > span {
      @apply h-full !important;
    }
  }
}

.scroll-indicator {
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 640px) {
  .scroll-indicator {
    width: 100%;
    left: 0;
    transform: none;
    text-align: center;
  }
}